<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!-- main design CSS -->
  <link rel="stylesheet" th:href="@{/style.css}">

  <title>Plantizza - Track Order</title>

  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍕</text></svg>">
</head>

<!--Main Body of Page -->
<body>
<header>
  <div style="background-color: rgba(34, 34, 34, 0.5); padding: 5px; width: 100%; position: absolute; top: 0; left: 0;">
    <div class="exitButtons">
      <a href= "/" class="btn" style="position: absolute; left: 20px; top: 20px;">Sign Out</a>
    </div>
    <h1>Plantizza</h1>
  </div>
</header>

<div class="centralBand">
</div>

<div class="contents">
  <!-- Put page contents here -->

  <div class="col-11.5 text-center m-3">
      <table class="styled-table w-100">
        <thead>
        <tr>
          <th>Order Number</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order, rowStatus : ${orders}" th:class="${rowStatus.even} ? 'table-light' : 'table-dark'">
          <td th:text="${order.id}">Order ID</td>
          <td th:text="${order.orderStatus}">Order Status</td>
        </tr>
        </tbody>
      </table>
      <div>
        <img class = animal-img src = "#" th:src = "${duckpic.url}" alt = "Picture of animal">
      </div>
      <div class = "tiny-writing" th:text="${duckpic.message}">Duckpic Message></div>

  </div>


  </div>


<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
